#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pupList {
  position: fixed;
  top: 100px;
  right: 160px;
  border: solid;
  border-color: black;
  padding: 20px;
  background-color: rgb(110, 110, 110);
  display: flex;
}
.pupName {
  padding-left: 15px;
  padding-right: 15px;
  color: blue;
  font-size: larger;
  font-weight: bold;
}
.pupCard {
  border: solid;
  border-color: black;
  background-color: rgb(110, 110, 110);
  padding: 15px;
  /* display: flex; */
  position: relative;
  top: 100px;
  right: 30px;
  min-width: 200px;
  max-width: 600px;
  min-height: 200px;
  max-height: 700px;
}
.pupList {
  padding: 10px;
}
.cardTitle {
  color: blue;
  padding: 5px;
  border: solid;
  border-color: black;
  background-color: #cecece;
}
.pupName {
  border:dashed;
  border-color: black;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #cecece;
}
img {
  max-width: 300px;
  height: auto;
}
.header {
  position: fixed;
  top: -25px;
  right: 760px;
  border: solid;
  border-color: black;
  background-color: rgb(110, 110, 110);
  padding: 10px;
  color: #FF0000;
  animation: bgColor 5s infinite linear;
  }
  @keyframes bgColor {
    12.5% {
      color: #FF0000;
    }
    25% {
      color: #FFA500;
    }
    37.5% {
      color: #FFFF00;
    }
    50% {
      color: #7FFF00;
    }
    62.5% {
      color: #00FFFF;
    }
    75% {
      color: #0000FF;
    }
    87.5% {
      color: #9932CC;
    }
    100% {
      color: #FF1493;
    }
}
